torch==1.4.0
torchvision==0.5.0
cudatoolkit==10.1
matplotlib==2.2.5
tqdm==4.32.1
open3d==0.9.0
trimesh=3.7.12
scipy==1.5.1
werkzeug==2.0.3
markupsafe==2.0.1
cudatoolkit-dev
scikit-learn
tifffile
Pillow
numpy
wget
timm
kornia
scikit-image